<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</head>


<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <br>
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <h4 style="margin-left: 1%">Create Account</h4>
        <div class="col s6" style="margin-bottom: 15%; margin-top: 1%">
            <fieldset>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="account" type="text" class="validate">
                        <label for="first_name">Account</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="password" id="password" class="validate tooltipped" data-position="botton" data-delay="50" data-tooltip="La contraseña debe contener letras mayusculas, minusculas y numeros" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd1" onchange="form.pwd2.pattern = this.value;">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" class="validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2">
                        <label for="password">Confirmar Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="birthdate" class="active">Birthdate</label>
                        <input id="birthday" type="date" class="datepicker">
                    </div>
                </div>
                <div id='button-create'>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </fieldset>
        </div>
    </div>
    <!--//////////////////////////////////////////////////////////////////////////////////////-->
    <script>
    
    var URL = "http://localhost:2000/client/"

    $('#button-create').click(function() {

        
        
        var data = {
            user: $("#account").val(),
            email: $("#email").val(),
            name: $("#first_name").val() + ' ' + $("#last_name").val(),
            birthday: $("#birthday").val(),
            password: $("#password").val()
        };
        $.ajax({
            dataType: "html",
            url: URL,
            data: data,
            type: "POST",
             success: function(result) {
                console.log(result)
            }
        })
    });
    </script>
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->

    <script>
    $('.datepicker').pickadate({

        selectMonths: true, // Creates a dropdown to control month
        selectYears: 120, // Creates a dropdown of 15 years to control year
            // An integer (positive/negative) sets it relative to today.
        min: false,
        // `true` sets it to today. `false` removes any limits.
        max: true
    });
    </script>
</body>

</html>
