<!DOCTYPE html>
<html lang="en">

<head>
    <title>
    </title>
</head>

<body>
    <h2>Sign In Form</h2>
    <script>
    if (typeof(errorMessage) !== 'undefined') {
        errorMessage
    }
    </script>
    <label for="user">user</label>
    <input type="text" name="user" id="user" placeholder="user" required="true" />
    <br>
    <label for="password">password</label>
    <input type="text" name="password" id="password" placeholder="password" required="true" />
    <div><button id="signin">Login</button></div>
    <a href="/signup" title="register">register</a>
    <script>
    $('#signin').click(function() {
        var data = {
            user: $("#user").val(),
            password: $("#password").val()
        };
        $.ajax({
            dataType: "json",
            url: 'http://localhost:2000/list',
            data: data,
            type: "POST",
            success: function(result) {
                
            }
        })
    });
    </script>
</body>

</html>
