<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Formulario de Contacto</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</head>

<body>
    <script>
    var x = document.cookie;
    if (x) {
		$.ajaxSetup({ headers : { 'authentification_token' : x } });


        $.getJSON('http://localhost:2000/client')
            .done(function(data) {
                console.log(data)
            });
    } else {
        alert("Necesita logearse con su usuario para acceder");
        window.location.href = 'http://localhost:2000/signin';
    }
    </script>
    <p><a href="/signout" title="sign out">sign out</a></p>
</body>

</html>
